[Desktop Entry]
Type=Application
Name=JD-GUI
GenericName=Java Decompiler JD-GUI
Comment=A standalone graphical utility that displays Java sources from class files
Icon=jd-gui
Hidden=false
Exec=jd-gui %f
Terminal=false
Categories=Development;IDE;Java;Viewer;
MimeType=application/java;application/java-vm;application/java-archive
StartupWMClass=org-jd-gui-App
