Source: jd-gui
Section: java
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends: debhelper (>= 12), default-jdk, gradle, unzip
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Browser: https://github.com/QuentiumYT/jd-gui
Vcs-Git: https://github.com/QuentiumYT/jd-gui.git
Homepage: https://github.com/QuentiumYT/jd-gui

Package: jd-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre | default-jre-headless | openjdk-8-jre-headless | openjdk-11-jre-headless | openjdk-17-jre-headless | openjdk-21-jre-headless
Description: A Java Decompiler JD-GUI, a standalone graphical utility that displays Java sources from class files
