#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_build:
	./gradlew --version
	chmod +x ./gradlew
	./gradlew build --no-daemon
	rm -rf .gradle build api/build app/build services/build

override_dh_auto_clean:
	./gradlew --version
	chmod +x ./gradlew
	./gradlew clean --no-daemon
	rm -rf .gradle build api/build app/build services/build
