#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_build:
	chmod +x ./gradlew
	./gradlew build --no-daemon
	rm -rf .gradle

override_dh_auto_clean:
	chmod +x ./gradlew
	./gradlew clean --no-daemon
